.wrap {
  max-width: 1024px;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: row;
  min-height: 90px;
  margin: 0 0 20px 0;
  border-bottom: 1px dashed #2f2f2f;
}
header .logo {
  background-image: url('../image/image-view-logo.png');
  width: 90px;
  height: 60px;
  display: block;
  margin-top: 8px;
}
footer {
  margin-top: 20px;
}
.main .files-wrap {
  display: flex;
  flex-direction: row;
}
.main .files-wrap .file-wrap {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.main .files-wrap .file-wrap img {
  width: 100%;
}
